.offer {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #1F2229;
    justify-content: center;
    padding: 150px 162px 0px 162px;
    color: white;
}

.offer__title {
    text-align: left;
    font-size: clamp(24px, 4vw, 40px);
    width: 1120px;
    margin: 0 auto;
    font-family: 'tele2-bold';
}

.offer__description {
    text-align: left;
    font-size: clamp(18px, 4vw, 20px);
    width: 1120px;
    margin: 0 auto;
    margin-top: 24px;
    font-family: 'tele2-regular';
}

.offer__possibilities {
    display: flex;
    gap: 56px;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 56px;
}

.offer__possibilities__element {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    span {
        font-family: 'tele2-regular';
        font-size: clamp(18px, 4vw, 20px);
        
    }
}

.offer__possibilities__element__img {
    width: 72px;
    height: 72px;
}


@media (max-width: 1250px) {
    .offer {
        padding: 16px;
        padding-top: 72px;
        align-items: left;
        justify-content: left;
    }

    .offer__possibilities {
        flex-direction: column;
        gap: 32px;
        align-items: flex-start;
        margin: 0;
        margin-top: 40px;
    }

    .offer__title {
        width: 100%;
    }

    .offer__description {
        width: 100%;
    }

    .offer__possibilities__element__img {
        width: 40px;
        height: 40px;
    }
}

