.promotion {
    display: flex;
    background-color: #1F2229;
    justify-content: center;
    padding: 56px 162px 0px 162px;
    height: 551px;
    gap: 205px;
}

.promotion__aside {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.promotion__aside__deadline {
    color: white;
    padding-top: 27px;
    font-size: clamp(18px, 4vw, 20px);
    font-family: 'tele2-regular', sans-serif;
}

.promotion__aside__title {
    color: white;
    padding-top: 48px;
    font-size: 68px;
    margin: 0;
    font-family: 'stencil-bold', sans-serif;
}

.promotion__aside__title__span {
    color: #5BB7E3;
    padding-top: 48px;
    font-size: 68px;
    margin: 0;
}

.promotion__aside__gift {
    color: white;
    padding-top: 24px;
    font-size: clamp(18px, 4vw, 20px);
    font-family: 'tele2-regular', sans-serif;
}

.promotion__aside__button {
    margin-top: 56px;
    width: 209px;
    height: 60px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'tele2-regular', sans-serif;
    display: flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff; 
    color: #000; 
    border: none; 
    transition: all 0.5s ease;
  }
  
  .promotion__aside__button:hover {
    background-color: #90b1ff; 
  }
  
  .promotion__aside__button:active {
    background-color: #205fff; 
  }

  
.promotion__img {
    width: 584px;
    height: 551px;
}

@media (max-width: 1470px) {
    .promotion__aside__deadline {
        color: white;
        padding-top: 27px;
        font-size: clamp(18px, 4vw, 20px);
        white-space: nowrap;
    }
    
    .promotion__aside__title {
        padding-top: 48px;
        font-size: 68px;
        margin: 0;
        white-space: nowrap;
    }
}

@media (max-width: 1250px) {
    .promotion {
        display: flex;
        flex-direction: column;
        background-color: #1F2229;
        align-items: center;
        justify-content: center;
        padding: 16px;
        height: 100%;
        gap: 48px;
    }

    .promotion__aside__title {
        padding-top: 40px;
        font-size: clamp(36px, 4vw, 68px);
    }

    .promotion__aside__deadline {
        padding-top: 16px;
    }

    .promotion__aside__title__span {
        padding-top: 40px;
        font-size: clamp(36px, 4vw, 68px);
    }

    .promotion__img {
        margin: 0 auto;
        width: 316px;
        height: 333px;
    }
}