.sign {
  display: flex;
  justify-content: center;
  gap: 132px;
  background-color: #1F2229;
  padding: 150px 162px 0px 162px;
}

.sign__instruction {
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  max-width: 598px;
}

.sign__instruction__element {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}

.sign__instruction__element__img{
  width: 80px;
  height: 80px;
}

.sign__instruction__element__text {
  font-family: 'tele2-regular';
  font-size: 20px;
}


.sign__phone {
  display: flex;
  flex-direction: column;
  max-width: 348px;
}

.sign__phone__title {
  font-size: clamp(24px, 4vw, 40px);
  font-family: 'tele2-bold';
  color: #fff;
}
.sign__phone__title__span {
  font-size: clamp(24px, 4vw, 40px);
  font-family: 'tele2-bold';
  color: #48CCFD;
}

.sign__phone__input {
  background-color: rgba(31, 34, 41, 0);
  border: 0px;
  border-bottom: 1px solid rgba(143, 147, 153, 1);
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-top: 64px;
  font-family: 'tele2-regular';
}

.sign__phone__agreement {
  display: flex;
  gap: 8px;
  margin-top: 24px;
}

.sign__phone__agreement__text {
  color: white;
  font-family: 'tele2-regular';
  font-size: 16px;
}
.sign__phone__agreement__link {
  color: white;
  font-family: 'tele2-regular';
  font-size: 16px;
}

.sign__phone__agreement__label {
  position: relative;
  display: inline-block;
}

.sign__phone__agreement__label_input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.sign__phone__agreement__label__checkbox {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

.sign__phone__agreement__label_input:checked + .sign__phone__agreement__label__checkbox::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 7px;
  width: 8px;
  height: 12px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}


.sign__phone__agreement__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 48px;
  background-color: #fff;
  border-radius: 48px;
  font-size: 16px;
  font-weight: 700;
  color: rgba(31, 34, 41, 1);
  margin-top: 32px;
  cursor: pointer;
  font-family: 'Tele2 text';
  transition: all 0.5s ease;
}