<link rel="stylesheet" href="/src/styles/header.css" />
<header class="header">
    <a href="/"><img class="header__img" alt="ch-logo" src="assets/Logo.png"/></a>
    <nav class="header__nav">
        <img class="header__nav img" alt="location-image" src="assets/Location.png"/>
        <p class="header__nav text">Санкт-Петербург</p>
    </nav>
</header>