<link rel="stylesheet" href="/src/styles/offer.css" />

<section class="offer">
    <h2 class="offer__title">Один терабайт - много любимых развлечений</h2>
    <p class="offer__description">Подарок получают только новые абоненты при подключении услуг Tele2 
        с тарифом «Мой онлайн+». Трафик расходуется в течение года. </p>
    <ul class="offer__possibilities">
        <li class="offer__possibilities__element">
            <img src="assets/video.svg" alt="500h-videos" class="offer__possibilities__element__img">
            <span>Около 500 часов видео</span>
        </li>
        <li class="offer__possibilities__element">
            <img src="assets/music.svg" alt="200k-songs" class="offer__possibilities__element__img">
            <span>Примерно 200 000 песен</span>
        </li>
        <li class="offer__possibilities__element">
            <img src="assets/photo.svg" alt="300k-photos" class="offer__possibilities__element__img">
            <span>Порядка 300 000 фото</span>
        </li>
    </ul>
</section>