
<link rel="stylesheet" href="../styles/promotion.css"> 
<link rel="stylesheet" href="../../style.css" />
<section class="promotion">
    <aside class="promotion__aside">
        <p class="promotion__aside__deadline">Акция продлится с 1 по 20 сентября</p>
        <h1 class="promotion__aside__title">ЭТО ВАША <br/><span class="promotion__aside__title__span">ВЫГОДА!</span></h1>
        <p class="promotion__aside__gift">Тариф «Мой онлайн+» и 1 ТБ трафика<br/> в подарок для новых абонентов</p>
        <button class="promotion__aside__button">Принять участие</button>
    </aside>
    <img class="promotion__img" src="assets/banner.svg" alt="promotion"/>
</section>