<link rel="stylesheet" href="../styles/visit.css">
<section class="visit">
    <aside class="visit__aside">
        <h1 class="visit__aside__title">Заходите на сайт Tele2</h1>
        <p class="visit__aside__description">Перейдите в магазин, оформите тариф «Мой онлайн+» и на страничке активации введите ваш промокод. Готово! </p>
        <button class="visit__aside__button">Оформить тариф</button>
    </aside>
    <img class="visit__tele__img" src="assets/store.svg" alt="visit-yota-img">
</section>